:root{
    font-family: Roboto;
    font-size: 20px;

    --Primary_color: #EE8B31;
    --Secundary_color: #EE3136;
    --Hover_color: #f72d34a2;
    --Background_color: #ffffff;
    --Primary_font_color: #FFFFFF;
    --Secundary_font_color: #000000;
    --Shadow_color: rgba(0, 0, 0, 0.2);
    --Box_shadow: 0px 5px 5px var(--Shadow_color);
    --Box_shadow_alt: 0 -10px 10px -10px var(--Shadow_color);
    --Box_shadow_full: 2px 2px 2px 2px var(--Shadow_color);

    background-color: var(--Background_color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Atributos Globais **/

body{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
}

h4, h5{
    margin: 1rem;
    color: var(--Primary_font_color);
}

a{
    text-decoration: none;
    color: var(--Secundary_color);
    font-weight: bold;
}

i{
    color: var(--Primary_font_color);
    size: 2rem;
    margin: 0.7rem;
}

.icon{
    display: flex;
    padding-left: 0;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Primary_font_color);
    
}

.media{
    height: auto;
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: var(--Box_shadow);
    margin: 1rem;
}

.selected{
    background-color: var(--Secundary_color);
    border-radius: 1rem;
}


/** Elementos de navegação**/

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--Primary_color);
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    box-shadow: var(--Box_shadow_alt);
}

nav li{
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav li:hover{
    cursor: pointer; 
    background-color: var(--Hover_color);
    border-radius: 1rem;
}

nav img{
    height: 2rem;
    float: left;
    display: none;
    border-radius: 0;
    box-shadow: none;
    flex-shrink: 2;
    align-items: end;
    margin-right: 1rem;
}

.icon p{
    display: none;
    text-decoration: none;
    color: var(--Primary_font_color);
    font-size: 0.5rem;
}

/** Estilo dos artigos **/

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    color: var(--Secundary_font_color);
    max-width: 50rem;
}

article p{
    margin: 0.15rem 0 0.15rem 0;
    text-indent: 2rem;
}

article h2{
    text-transform: uppercase;
    text-decoration: solid;
    color: var(--Secundary_font_color);
    margin-bottom: 1rem;
}

/** Configurações dos cards **/

.card{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--Box_shadow);
    border-radius: 1rem;
    max-width: 15rem;
    height: 32rem;
    overflow: hidden;
}

article .card{
    height: fit-content;
    margin: 0.5rem;
}

.card a{
    display: flex;
    padding: 1rem;
    color: var(--Primary_font_color);
    text-decoration: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-image{
    margin: 0;
    height: auto;
    max-width: 110%;
    object-fit: cover;
    object-position: 50% 50%;

}

.card-footer {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: var(--Primary_color);
    width: 100%;
    height: 4rem;
    border-radius: 0 0 1rem 1rem;
    color: var(--Primary_font_color);
    text-indent: 0.5rem;
}

.card-body{
    padding: 0.4rem;
    color: var(--Secundary_font_color);
    height: 10rem;
}

.card-text{
    overflow-y: auto;
    height: 7rem;
}

.card-title{
    text-align: center;
    margin: 0.2rem;
}

.card_container{
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: auto;
    grid-template-rows: max-content;
    gap: 1rem;
}


/** Menu lateral **/

aside{
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Primary_color);
    height: 80%;
    position: fixed;
    bottom: 3rem;
    left: 0;
    margin: 0.3rem;
    border-radius: 1rem;
    box-shadow: var(--Box_shadow);

}

.top, .extras{
    display: flex;
    flex-flow: row;
    margin: 1rem;
    justify-content: space-around;
}

.close_menu{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.close_menu:hover{
    cursor: pointer;
}
.top h4{
    color: var(--Primary_font_color);
}

.artigos{
    overflow-y: auto;
    width: 100%;
    display: flex;
    justify-items: flex-start;
    flex-flow: column;
    flex: 3;
    
}

.artigos a{
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    color: var(--Primary_font_color);
    box-shadow: var(--Box_shadow);
    display: block;
    border-radius: 1rem;
}

.artigos a:hover{
    background-color: var(--Hover_color);
}

.extras a{
    padding: 0.7rem;
}

.extras a:hover{
    background-color: var(--Hover_color);
    border-radius: 1rem;
}

/** Barra de pesquisa **/

.search_bar{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    right:0 ;
    background-color: var(--Primary_color);
    height: 3rem;
    margin: 0.5rem auto 0.5rem auto;
    border-radius: 3rem;
    box-shadow: var(--Box_shadow);
}

.search_bar input{
    width: 80%;
    margin-left: 0.3rem;
    height: 80%;
    border-style: none;
    border-radius: 3rem 0 0 3rem;
    text-indent: 1rem;
    font-size: 1rem;
}

.search_bar button{
    width: 20%;
    margin-right: 0.3rem;
    height: 80%;
    background-color: var(--Secundary_color);
    border-style: none;
    border-radius: 0 3rem 3rem 0;
}

.search_bar button:hover{
    cursor: pointer;
    background-color: var(--Hover_color);

}

/** Menu de configurações **/

.config{
    position: fixed;
    bottom: 3rem;
    height: fit-content;
    margin: 0.3rem;
    background-color: var(--Primary_color);
    box-shadow: var(--Box_shadow);
    border-radius: 1rem;
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    width: fit-content;
}

.field{
    display: flex;
    margin: 0.2rem;
    background-color: var(--Primary_color);
    box-shadow: var(--Box_shadow);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    flex-flow: row;
    align-items: center;
    justify-content: center;

}

.field p{
    color: var(--Primary_font_color);
    display: flex;
}

.field:hover{
    cursor: pointer;
}

.selected_field{
    background-color: var(--Secundary_color);
}

.themes{
    display: flex;
    flex-flow: row;
}

/** pagina inicial **/

#wellcome{
    display: grid;
    margin-bottom:3rem;
    grid-template-areas:
                   "intro"
                   "sumario"
                   "links";
    gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 60rem;

}

.intro_bg{
    background-color: var(--Primary_color);
}

#wellcome img{
    height: 100%;
    max-width: 100%;
}


.intro{
    grid-area: intro;
    color: var(--Primary_font_color);
    display: flex;
    flex-flow: column;
}

#sumary{
    grid-area: sumario;
    text-indent: 1rem;
}

.intro_links{
    grid-area: links;
    grid-template: "h2 h2"
                   "link1 link2"
                   "linku linku";
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.intro_links h2{
    color: var(--Primary_font_color);
    grid-area: h2;
}

#link1{grid-area: link1;}
#link2{grid-area: link2;}

.big_link{
    display: grid;
    flex-flow: row;
    height: 5rem;
    align-content: center;
    justify-content: center;
    box-shadow: var(--Box_shadow_full);
    background-color: var(--Primary_color);
    color: var(--Primary_font_color);
    margin: 1rem;
    border-radius: 1rem;
    grid-column: auto auto;
    grid-area: linku;
}

.big_link:hover{
    background-color: var(--Hover_color);

}

.big_link p{grid-column: 2;}
.big_link i{grid-column: 1;}



/** Links de artigos **/

.links{
    display: grid;
    grid-template: "head head head head img img img"
                   "desc desc desc desc img img img"
                   "desc desc desc desc img img img";
    margin: 0.5rem;
    box-shadow: var(--Box_shadow_full);
    border-radius: 1rem;
    background-color: var(--Primary_color);
}

.links:hover{
    background-color: var(--Hover_color);
}

.links img{
    height: 100%;
    width: 100%;
    border-radius: 0 1rem 1rem 0;
}

.title{
    grid-area: head;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: var(--Primary_font_color);
}


.resume{
    grid-area: desc;
    background-color: var(--Background_color);
    border-radius: 0 0 0 1rem;
    color: var(--Secundary_font_color);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume p{
    margin: 0.5rem;
}

.thumbnail{
    grid-area: img;
    max-width: 10rem;
    max-height: 10rem;
}

/**Página dos artigos**/

.container{
    max-width: 50rem;
    margin: 0.5rem 0.5rem 3rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.container h2{
    color: var(--Secundary_font_color);
    margin: 1rem;
}

/** Vitrine dos artigos **/



.showcase{
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-shadow: var(--Box_shadow_full);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;

}

.showcase p{
    margin: 0.5rem;
    color: var(--Secundary_font_color);

}

.display{
    overflow: hidden;
    max-height: 7rem;
    max-width: 100%;
    margin: 0.5rem;
    border-radius: 1rem;
}

.display img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 1rem;
}

.show-header{
    background-color: var(--Primary_color);
    color: var(--Primary_font_color);
    border-radius: 1rem 1rem 0 0;    
}

.showcase:hover .show-header{
    background-color: var(--Hover_color);
}

/** referencias **/

.ref{
    width: 100%;
}

.ref div{
    padding: 0.5rem;
}

/** sobre **/

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 1rem;
}


/** Tablets **/

@media screen and (min-width: 600px){
    .icon p{
        display: block;
    }

    .media{
        width: 75%;
    }

    .icon{
        padding: 0.5rem 0.1rem 0.5rem 0.1rem;
    }

    .config{
        align-items: start;
    }

    .field{
        display: inline-block;
    }

    .links{
        grid-template-columns: auto auto auto auto 2.5rem 2.5rem ;
    }

    .intro_links{
        display: grid;
    }

    #wellcome{
        grid-template-areas: "intro intro intro"
                       "intro intro intro "
                       "sumario sumario sumario"
                       "links links links";

        margin: 3rem 0.5rem 0.5rem 0.5rem
    }

    .intro{    
        font-size: 1.7rem;
        flex-flow: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .intro img{
        max-width: 4rem;
    }

    #sumary{
        margin-left: 5%;
        margin-right: 5%;
    }

    .display{
        max-height: fit-content;
        max-width: 20%;
        float: right;
    }
    .card_container{
        grid-template-columns: auto auto;
    }

}

/** Monitores HD **/

@media screen and (min-width: 1200px) {

    nav{
        top: 0;
        justify-content: flex-start;
        border-radius:  0 0 1rem 1rem;
        box-shadow: var(--Box_shadow);
    }

    .icon{
        flex-flow: row;
        padding-right: 1rem;
    }

    .icon p{
        font-size: 1rem;
    }
   
    nav img{
        margin-left: auto;
        display: block;
        
    }

    article{
        margin: 4rem 10% 0 10%;
        box-shadow: var(--Box_shadow);
        border-radius: 1rem;
    }

    article p, article h2, article video, article img{
        margin: 1rem 1rem 1rem 1rem;
    } 

    aside{
        top: 3rem;
        height: 90%;
        width: 30rem;
    }

    .search_bar{
        position: absolute;
        top: 3rem;
        width: 45%;
        margin: 0.2rem;
    }

    .config{
        top: 3rem;

    }

    .container{
        margin: 3rem 0.5rem 0.5rem 0.5rem ;
    }

    .card_container{
        grid-template-columns: auto auto auto;
    }

    

    

}

/** Monitores 4K **/

@media screen and (min-width: 2000px){
    :root{
        font-size: 30px;
    }



    

     
    


}