:root{
    font-family: Roboto;
    font-size: 20px;

    --Primary_color: #EE8B31;
    --Secundary_color: #EE3136;
    --Background_color: #FFFFFF;
    --Primary_font_color: #FFFFFF;
    --Secundary_font_color: #000000;
    --Box_shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

    background-color: var(--Background_color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-bottom: 3rem;
}

*{
    margin: 0;
    padding: 0;
}

nav i{
    color: var(--Primary_font_color);
    size: 2rem;
}

nav a{
    padding: auto;
}

img, video{
    height: auto;
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: var(--Box_shadow);
}


nav img{
    height: 2rem;
    float: left;
    display: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--Primary_color);
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    align-items: center;
}

li p{
    display: none;
}

nav li{
    list-style-type: none;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    color: var(--Secundary_font_color);
}

article p{
    margin: 0.15rem 0 0.15rem 0;
    text-indent: 2rem;
}

article h2{
    text-transform: uppercase;
    text-decoration: solid;
    color: var(--Secundary_font_color);
    margin-bottom: 1rem;
}

aside{
    display: none;
}



