/**************************/
/** Configurações gerais **/
/**************************/

body {
    font-family: "Roboto";
    align-content: center;
}

* {
    padding: none;
    margin: none;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}

/********************************************************************/
/** classe para os itens do menu cso se encontre na página do link **/
/********************************************************************/

.selected {
    background-color: #ee31378e;

}

/********************************/
/** definições do menu do topo **/
/********************************/

#menu{
	float: right;
	width: 100%;
	max-height: 80px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
	
#menu ul{
	text-align: center;
	float: left;
	background: #EE8B31 ;
    width: 100%;
}
	
#menu li{
	display: inline;
    float: left;
}
	
#menu li a {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
    color: #FFF;
}
	
	
#menu li:hover a{
    background-color: #f3b479;
	color: #FFF;
	border-bottom: 5px solid #EE3136;
    padding: 10px 20px 5px 20px;
	text-decoration: none;
}

#logo {
    float: right;
    width: 60px;
    margin-top: 10px;
    margin-right: 20px;
}


/***********************************/
/** definições do menu do lateral **/
/***********************************/

h4 {
    color: #FFF;
    margin: 10px;
}


.botao {
    padding: 5px;
    background-color: #EE8B31;
    text-decoration-color: #FFF;
    border-radius: none;
    border: none;

}

.botao:hover {
    padding: 5px 5px 0px 5px;
    background-color: #f3b479;
    text-decoration-color: #FFF;
    border-radius: 0px;
    border: 0px 0px 5px 0px solid #EE3136;

}

.botao:visited {
    padding: 5px;
    background-color: #EE8B31;
    text-decoration-color: #FFF;
    border-radius: none;
    border: none;

}


aside {
    max-height: fit-content;
    float: left;
    max-width: 300px;
    margin-right: 20px;
    margin: none;
    padding: none;
    background-color: #EE8B31;
    overflow-y: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}



.nav a{
    color: #FFF;
    padding: 15px 295px 15px 5px;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
    max-width: 200px;
}

.nav a:hover{
    background-color: #f3b479;
    color: #FFF;
    padding: 15px 295px 15px 5px;
    border-left: 5px solid #EE3136;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
    max-width: 200px;
}

/**************************/
/** definições do artigo **/
/**************************/

.container {
    max-width: 70%;
    padding: 20px 10px;
    align-content: center;

}


video , iframe{
    border-radius: 10px;
    width: 100%;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.2);
    align-content: center;
}

.foto {
    width: 100%;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
}

h2 {
    margin: 30x;
    text-align: center;
}

.container p{
    margin:20px;
    line-height: 30px;
    text-align: left;
    text-indent: 30px;
    word-spacing: 3px;
    text-align: left;
}

/**********************************/
/** definições da tela de inicio **/
/**********************************/

#wellcome {
    background-color: #EE8B31;
    width: 100%;
    padding: 200px;
    color: #FFF;
    display: block;
    align-content: center;
}

#wellcome .container-fluid {
    width: 800px;
    height: fit-content;
    display: inline-block;
    align-content: center;


}

#wellcome .image img{
    width: 240px;
    float: right;
}

.text {
    margin-top: 60px;
}

.text h1{
    padding: none;
    margin: 5px;
    font-weight: 100;
    text-align: center;
    text-indent: 0px;

}

.text p{
    padding: none;
    margin: 10px;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    text-indent: 0px;
}

#sumario{
    margin-top: 100px;
}

/*************************/
/** definições dos cards**/
/*************************/


.card{
    margin: 20px 10px;
    border: 1px solid #EE8B31;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}

.card-text{
    text-indent: none;
}

.card-header, .card-header a{
    background-color: #EE8B31;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
}

.card-header a{
    padding: 10px 600px 10px 0px;
}

.card-header a:hover{
    background-color: #EE8B31;
    color: #FFF;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 10px 500px 10px 0px;
}

.card-footer{
    color:#FFF;
    background-color: #EE8B31;
}



